h1{
    text-align: center;
    font-style: italic;
    background-color: blanchedalmond;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-style: solid;
    border-width: 5px;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 322px;
    width: 200px;
    background-color: #f1f1f1;
    text-align: center;
}
 